NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:8080

NEXT_PUBLIC_ADMIN_EMAIL=admin@altaira.local
ADMIN_PASSWORD=change_this_admin_password
INTERNAL_API_TOKEN=change_this_internal_api_token
