# Archivos del sistema
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-error.log
dist/
build/

# Entornos y configuraciones
.env
.env.local
.vscode/
.idea/
*.swp

# Logs
logs/
*.log

# Cache y temporales
.cache/
*.tmp
*.bak

# Archivos de compilación
*.class
*.o
*.so
*.exe

# Otros
*.zip
*.tar.gz
*.rar

# Dependencias frontend (si usas frameworks tipo Angular/React)
bower_components/
coverage/
